*{
	box-sizing: border-box;
}
html, body{
	margin: 0;
	font: 100 1em arial, sans-serif;
	color: white;
	text-align: center;
	height: 100%;
}
html{
	background: #078fff;
	background: radial-gradient(ellipse at center,  #87e0fd 0%,#53cbf1 40%,#078fff 100%);
}
body{
	background-color: rgba(0, 0, 0, 0.25);
}
.container{
    min-width: 280px;
}
.content-wrap{
	padding: 4rem 0 0;
	margin: 0 auto;
}
/* FLOAT LABEL */
.form-wrap{
	padding: 12px;
}
form{
	max-width: 400px;
	margin: 0 auto;
}
form > div {
	position: relative;
	height: 60px;
	float: left;
	width: 75%;
}
form > div > label {
	position: absolute;
    text-align: left;
    padding: 5px 15px 15px 20px;
    line-height: 1.9em;
    font-size: 26px;
    color: #444;
}
form label {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	transition: 0.2s;
}
form input:focus + label, form div input:invalid + label{
	top: 100%;
	font-size: 16px;
    color: white;
    padding-top: 0;
}
form div input:valid + label {
	font-size: 0;
	z-index: -1;
}
/* END FLOAT LABEL */
#location-input{
	height: 60px;
    line-height: 1.7em;
    padding: 0 0.7em;
    font-size: 26px;
    outline: none;
    border-radius: 3px 0 0 3px;
    border: 2px solid white;
    color: #1d1d1d;
    max-width: 100%;
}
#location-input:focus{
	border-color: #184e79;
}
#location-input.error{
	border-color: #ff3434;
}
.location-submit{
	height: 60px;
	font-size: 18px;
	width: 25%;
    color: white;
	background-color: #184e79;
	border: none;
	border-radius: 0 6px 6px 0;
	padding: 6px;
}
/* WEATHER DATA */
.wx-container{
	color: white;
	font-family: Arial;
	margin-top: 80px;
	background-color: rgba(0, 0, 0, 0.6);
}
.wx-container > h3{
	padding: 20px 0;
}
.wx-container .row{
	margin: 0 auto;
	max-width: 1000px;
}
.current-temp{
	font-size: 110px;
	margin: 0;
	font-weight: 100;
}
.icon-wrap{
	float: left;
	text-align: left;
}
.icon-wrap img{
	max-width: 140px;
}
/* WIND COMPONENT */
.wind-wrap{
	position: relative;
	padding-top: 12px;
}
.wind-component{
	width: 148px;
    height: 148px;
    border: 8px solid white;
    border-radius: 50%;
    padding: 85px;
    margin: 0 auto 20px;
}
.wind-dial{
    width: 125px;
    transform-origin: 0% 0%;
    font-size: 0;
}
.wind-dial:before{
	content: ' ';
    border-right: 35px solid white;
    border-left: 35px solid transparent;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
}
.wind-desc{
	font-size: 0.8em;
    position: absolute;
    top: 46%;
    right: 0;
    left: 0;
}
.deg{
	position: absolute;
}
/* GRID */
.col{
	display: inline-block;
	padding: 2%;
	vertical-align: top;
	text-align: center;
	width: 100%;
}
@media all and (min-width: 768px){
	.col.sm{
		width: 30%;
	}
	.col.lg{
		width: 40%;
	}
	.current-temp{
		font-size: 150px;
	}
	.icon-wrap img{
		max-width: 180px;
	}
}